@import 'styles/rwd.module.scss';
@import 'styles/scrollbar.module.scss';
$size: 57px;

.list {
	padding: 0;
	flex-flow: row nowrap;
	overflow: auto;
	width: 100% !important;
	min-width: 50px;

	@extend .scrollbar;

	@media (max-width: $screen-sm-min) {
		max-width: 100vw;
		min-width: 100vw;
		width: 100vw;
	}

	@include md {
		flex-flow: column nowrap;
		width: auto;
		height: 100%;
		overflow: auto;
	}

	.item {
		height: $size;
		width: $size;
	}

	& > .label {
		padding: 12px 6px;
		text-align: center;
		font-size: 8pt;
		background: #ffdd00;
	}
}

.menu {
	padding: 0;
	> div {
		> ul {
			padding: 0;
		}
	}
	.menuItem {
		display: flex;
		gap: 10px;
		padding: 0 5px 0 5px;
		font-size: 12px;
		height: 26px;
		> * {
			font-size: 15px;
		}
		> div {
			> span {
				font-size: 12px;
			}
		}

		> svg:nth-child(2) {
			margin-left: 53px;
		}
	}
}
