@import 'styles/colors.module.scss';

.tagsEditor {
	background: rgba(lighten($primary-color, 30%), 0.5);
	padding: 0;
	border-radius: 20px;
	margin-left: 5px;
	height: 26px;
	align-self: center;
	display: inline-flex;
	flex-flow: row nowrap;

	&.error {
		background: rgba($error-color, 0.3);
	}

	> input {
		border: 0;
		outline: 0;
		width: 80px;
		padding: 0;
		line-height: 15px;
		background: transparent;
		border-bottom: 1px solid #888;
		margin-left: 10px;
		align-self: center;
	}

	.addButton {
		align-self: center;
		margin-left: 3px;

		&:disabled {
			background: transparent;
		}
	}
}
