// Steps links
.stepperContainer {
    border-bottom: 1px solid #ddd;
}

// Steps content
.stepContainer {
    min-width: 500px;
    min-height: 300px;
    padding: 20px;
}

.actions {
    justify-content: center;
    padding: 20px;
}