@import 'styles/rwd.module.scss';
@import 'styles/scrollbar.module.scss';

.container {
	height: calc(100% - 60px);
}

.dataContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	height: calc(100% - 168px);
	max-height: calc(100% - 168px);

	@extend .scrollbar;

	@include xl {
		height: 100%;
		max-height: 100%;
	}
}
