.list {
	padding: 10px;
	flex-grow: 1;

	.subheader {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
		padding: 0;
		> * {
			align-self: center;
		}
	}

	> .empty {
		padding: 10px;
	}

	.item {
		border-bottom: 1px solid #eee;
		padding: 6px;
		display: flex;

		span {
			font-size: 0.8em;
		}

		.color {
			max-width: 30px;
			min-width: 30px;
			span {
				display: block;
				width: 20px;
				height: 20px;
				border-radius: 2px;
			}
		}

		.name {
			align-self: center;
			font-weight: 500;
			width: 200px !important;
			white-space: nowrap;
			text-overflow: ellipsis;
			width: max-content;
			overflow: hidden;
		}

		.building {
			align-self: center;
			font-weight: 300;
			opacity: 0.5;
		}

		.unit {
			align-self: center;
			font-weight: 300;
			opacity: 0.5;
			width: 20px;
		}

		.icon {
			align-self: center;
			display: flex;
			justify-content: center;
			min-width: 36px;
			svg {
				opacity: 0.5;
				width: 20px;
				height: 20px;
			}
		}

		.action {
			display: flex;
			justify-content: flex-end;

			.button {
				color: red;
			}

			.button:hover {
				cursor: pointer;
			}
		}
	}
}
