@import 'styles/scrollbar.module.scss';

.container {
	display: flex;
	height: calc(100%);
	max-height: calc(100%);
	min-height: calc(100%);
	width: 290px;
	background: darken(#eee, 5%);
	z-index: 1000;
	flex-direction: column;

	.topWrapper {
		height: calc(100% - 303px);
		max-height: calc(100% - 303px);
		min-height: calc(100% - 303px);
		overflow-y: auto;
		@extend .scrollbar;
	}
}

.itemsListContainer {
	.wrapper {
		height: 220px !important;
		max-height: 220px !important;
		overflow-y: auto;
		@extend .scrollbar;
	}

	table {
		font-size: 8pt;
		width: 100%;
		border: 0;
		max-height: 220px !important;
		overflow: scroll;
		@extend .scrollbar;
		border-collapse: collapse;

		tr {
			td {
				width: auto;
				border: 1px solid #ccc;

				&.type {
					opacity: 0.5;
				}

				&.label {
					font-weight: 500;
				}

				&.id {
					opacity: 0.5;
					text-align: right;
					width: 25px;
				}

				&.z {
					opacity: 0.5;
					text-align: center;
				}
			}

			&.selected {
				background: #ffffffaa;
			}
		}
	}
}
