@import 'styles/rwd.module.scss';
@import 'styles/colors.module.scss';

.search {
	display: flex;
	align-self: center;
	max-width: 160px;
	min-width: 160px;
	height: 30px;
	margin: 0 15px 0 15px;
	flex-flow: row nowrap;
	justify-content: space-between;
	border: none;
	box-shadow: none;

	@include md {
		max-width: 180px;
		min-width: 180px;
	}

	.searchButtonsContainer {
		display: flex;
		flex-flow: row nowrap;

		.iconButton {
			svg {
				fill: #32302e;
			}
		}
	}

	input {
		padding: 0 10px;
		font-size: 0.8rem;
		min-width: 80px;

		@include md {
			min-width: 100px;
		}
	}

	input::placeholder {
		color: #32302e;
	}
}
