@import 'styles/scrollbar.module.scss';
@import 'styles/rwd.module.scss';

.container {
	height: calc(100% - 60px);
	box-sizing: border-box;
	overflow-y: auto;
	font-size: 0.8em;

	@extend .scrollbar;

	@include md {
		font-size: 1em;
	}
}

.alarmActive {
	* {
		color: red !important;
	}
}

.actions {
	padding: 20px;
}
