.chip {
    position: fixed;
    right: 50px;
    bottom: 50px;
    animation: grow 2.5s linear infinite;
    background: linear-gradient(to right, #f12711, #f5af19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@keyframes grow {
    0%, 100% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.2);
    }
}