@import 'styles/colors.module.scss';
@import 'styles/rwd.module.scss';
@import 'styles/fontSizes.module.scss';

.historyHeader {
	display: flex;
	align-items: center;
	color: #444444;
	letter-spacing: 0.5px;
	margin: 0;
	padding: 8px 4px 4px 1px;
}

.historyContainer {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 10px;
	padding-left: 10px;
}

.historyParam {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0px 4px 0 4px;
	padding: 4px 4px;
	flex-basis: 125px;
	max-width: 250px;
	overflow: hidden;

	@include md {
		flex-basis: 250px;
	}

	.title {
		font-size: $fontSize-extraTiny;
		font-weight: 600;
		color: #444444;
		text-transform: uppercase;
		white-space: nowrap;
		overflow: hidden;
		max-width: 250px;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.value {
		display: inline-block;
		align-items: center;
		color: #222;
		font-size: $fontSize-small;
		font-weight: 400;
		white-space: nowrap;
		overflow: hidden;
		max-width: 125px;
		text-overflow: ellipsis;
		max-height: 25px;
		min-height: 25px;

		@include md {
			max-width: 250px;
			font-size: $fontSize-large;
		}
	}

	.link {
		color: rgb(37, 92, 192);
	}

	.unitValue {
		font-size: $fontSize-extraSmall;
		color: #9a9a9a;
	}
}
