div.buildingSelectField {
	label {
		font-weight: 500;
		font-size: 10pt;
		display: block;
		margin: 5px 0;
	}
}

.select {
	width: 250px;
	> div {
		min-height: 22px !important;
		> div:nth-child(2) {
			> div {
				padding: 0px 8px 0px 8px;
			}
		}
	}
}
