@import 'styles/colors.module.scss';

.dialog {
	.title {
		padding: 10px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		background: #fff;
		color: #333;
		font-weight: 400;
		font-size: 1.25em;

		> * {
			align-self: center;
		}

		svg {
			width: 24px;
			height: 24px;
		}

		.closeButton {
			margin-left: auto;
			align-self: center;

			svg {
				fill: #fff;
			}
		}
	}

	.content {
		display: flex;
		flex-flow: row wrap;

		// reset Params component styles
		.params {
			padding: 0;
			margin: 0;
			border-left: 0;
			border-bottom: 0;
			display: flex;
			flex-flow: column wrap;
			flex-basis: 350px;
			flex-shrink: 1;
			flex-grow: 1;

			.param {
				flex-basis: 100%;
				padding: 2em 2em;
				margin: 0;
				border: 1px solid #eee;
				margin: 3px;

				&.inactive {
					opacity: 0.5;
					svg {
						fill: #ddd;
					}
				}

				svg {
					fill: lighten($primary-color, 10%);
				}
			}
		}
	}
}
