@import 'styles/colors.module.scss';

.numericFields {
    .item {
        display: flex;
        align-items: center;
        border: 1px solid #ddd;
        padding: 3px 16px;
        margin: 2px;

        span {
            font-size: 0.8em;
            display: block;
            width: 60px;
            text-align: right;
        }

        a {
            font-size: 0.7em;
            color: $error-color;
            text-decoration: underline;
            cursor: pointer;
        }

        .field {
            margin: 0 16px;
            width: 500px;
            * {
                font-size: 0.9em !important;
            }
        }
    }
}

.enumFields {
    .item {
        display: flex;
        align-items: center;
        border: 1px solid #ddd;
        padding: 3px 16px;
        margin: 2px;

        .keyField {
            width: 40px;
        }
        .srcField {
            margin-right: 16px;
        }

        a {
            font-size: 0.7em;
            color: $error-color;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.addContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}