@import 'styles/colors.module.scss';
@import 'styles/rwd.module.scss';
@import 'styles/scrollbar.module.scss';

.container {
	height: 100%;

	.header {
		position: sticky !important;
		width: 100% !important;
		height: 40px !important;
		min-height: 40px !important;
		top: -5px !important;
		background-color: #ffffff !important;
		flex-direction: row !important;
		justify-content: space-between !important;
		align-items: center !important;
		border-top: 1px solid #ddd !important;
		border-bottom: 1px solid #ddd !important;
		margin-top: -5px !important;
		padding: 0px 5px 0px 5px;

		.devices {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			overflow-x: auto;
			gap: 0.25rem;

			@extend .scrollbar;

			.device {
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: #f5f5f5;
				padding: 5px;
				gap: 0.5rem;
				color: $dark-color;
				white-space: nowrap;
				border-radius: 3px;
				cursor: pointer;

				.deviceName {
					display: flex;
					align-items: center;
					gap: 3px;
					font-size: 0.75em;
				}

				&.selectedDevice {
					color: #ffffff;
					background-color: var(--primary-color);
				}

				&.disabled {
					opacity: 0.8;
					cursor: default;
				}
			}
		}
		.actions {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin-left: 6px;

			.buttonConnect {
				display: flex;
				justify-content: space-around;
				align-items: center;
				width: 100px;
				min-width: 100px;
				position: sticky;
				right: 0;
				color: white;
				background-color: #01a501;
				padding: 2px 3px 2px 3px;
				font-size: 0.8em;
				border-radius: 3px;

				> span {
					> span {
						margin-top: 2px;
					}
				}

				&.disabled {
					background-color: #01a50156;
				}
			}

			.buttonDisconnect {
				display: flex;
				justify-content: space-around;
				align-items: center;
				width: 100px;
				min-width: 100px;
				position: sticky;
				right: 0;
				color: white;
				background-color: #e00101;
				padding: 2px 3px 2px 3px;
				font-size: 0.8em;
				border-radius: 3px;

				> span {
					> span {
						margin-top: 2px;
					}
				}
			}
		}
	}

	.content {
		display: flex;
		height: calc(100%);
	}
}

.contentLeft {
	width: 100%;
	overflow: auto;
	position: relative;

	@extend .scrollbar;
}

.contentRight {
	display: flex;
	flex-direction: column;
	width: 450px;
	min-width: 450px;
	max-width: 450px;
	border-left: 1px solid #eee;

	&.drawerOpen {
		height: 100%;
		width: 350px;
		min-width: 350px;
		max-width: 350px;
	}

	@extend .scrollbar;

	.label {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 35px;
		padding-left: 5px;
		padding-right: 5px;

		> div {
			display: flex;
			align-items: center;
			gap: 4px;
			font-size: 0.75rem;
			font-weight: 600;
			padding-left: 6px;
			white-space: nowrap;
			color: rgba(0, 0, 0, 0.54);

			> svg {
				font-size: 1.25em;
				color: rgba(0, 0, 0, 0.54);
			}
		}
	}

	.list {
		display: flex;
		flex-direction: column;
		width: calc(100% - 10px);
		min-width: calc(100% - 10px);
		max-width: calc(100% - 10px);
		padding: 4px;
		padding-top: 0px;
		gap: 0.25rem;
		height: calc(100% - 5px);
		max-height: calc(100% - 5px);
		overflow: auto;

		&.drawerOpen {
			width: calc(100% - 8px);
			min-width: calc(100% - 8px);
			max-width: calc(100% - 8px);
			height: calc(100% - 40px);
			max-height: calc(100% - 40px);
		}

		@extend .scrollbar;

		.listItem {
			display: flex;
			justify-content: space-between;
			width: calc(100% - 14px);
			cursor: default;
			height: 42.1px;
			min-height: 42.1px;
			padding: 4px;
			padding-left: 8px;
			border-radius: 4px;
			box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.08), 0px 1px 1px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.08);

			&.none {
				background-color: #f5f5f5;
			}

			&.urgent {
				background-color: #fffbf2;
			}

			&.information {
				background-color: #eff5fd;
			}

			&.critical {
				background-color: #fff2ea;
			}

			&.lifesafety {
				background-color: #fff6f6;
			}

			.listItemLeft {
				display: flex;
				gap: 10px;
				align-items: center;
				width: calc(100% - 62px);

				.listItemLeftNames {
					display: flex;
					height: 100%;
					flex-direction: column;
					justify-content: center;
					gap: 2px;

					.code {
						font-size: 0.675em;
						white-space: nowrap;
						color: #6d6d6d;
					}

					.name {
						font-weight: 600;
						font-size: 0.75em;
						max-width: 320px;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;

						&.none {
							color: #838383;
						}

						&.urgent {
							color: #f5b621;
						}

						&.information {
							color: #2881e9;
						}

						&.critical {
							color: #fa6e1e;
						}

						&.lifesafety {
							color: #ff2e2e;
						}
					}
				}
			}

			.listItemRight {
				padding-right: 5px;
				display: flex;
				align-items: center;
				justify-content: center;
				overflow-x: hidden;

				.date {
					font-size: 0.675em;
					white-space: nowrap;
					color: #464646;
				}
			}
		}
	}
}

.error {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;

	> * {
		align-self: center;
	}

	label {
		margin-top: 10px;
		display: block;
		font-size: 8pt;
		text-transform: uppercase;
		color: #555;
	}
}
