@import 'styles/colors.module.scss';
@import 'styles/scrollbar.module.scss';
@import 'styles/rwd.module.scss';

.content {
	display: flex;
	user-select: none;
	flex-direction: column;
	width: 100%;

	@include rwd(600) {
		flex-direction: row;
		height: 100%;
	}
}

.buildingsContainer {
	width: 100%;
}

.pointsContainer {
	border: 1px solid #eee;
	width: 100%;
}

.pointsContainer,
.buildingsContainer {
	border: 1px solid #eee;
	display: flex;
	flex-flow: column nowrap;
}

.list {
	max-height: 100%;
	overflow: auto;
	@extend .scrollbar;

	.listItem {
		cursor: pointer;
		&:hover {
			background: rgba($primary-color, 0.1);
		}

		&.active {
			background: rgba($primary-color, 1);
			color: #fff;
		}

		&:disabled {
			background: red;
		}
	}
}

.filter {
	padding: 5px 10px 10px;
	text-align: right;
	> * {
		width: 100%;
	}
}

.label {
	font-size: 1em;
	display: block;
	padding: 10px;
	margin: 3px;
	font-weight: 300;
	background: #eee;
}
