@import 'styles/rwd.module.scss';
@import 'styles/scrollbar.module.scss';

.title {

}

.content {
    height: 600px;
    overflow: auto;
    @extend .scrollbar;
    
    @include lg {
        width: 50vw;
    }
}

.actions {

}