.menu {
	padding: 0;
	> div {
		> ul {
			padding: 5px;
		}
	}
	.menuItem {
		display: flex;
		gap: 7px;
		padding: 0 7px 0 7px !important;
		font-size: 12px;
		height: 26px;
		> * {
			font-size: 15px;
		}
		> div {
			> span {
				font-size: 12px;
			}
		}

		> svg:nth-child(2) {
			margin-left: 53px;
		}
	}
}
