.listContainer {
    height: auto;
    user-select: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 2px 0 2px 2px;
    flex-grow: 1;

    .actions {
        background: #eee;
        text-align: right;
        padding: 10px;
        > * {
            margin: 0 5px;
        }
    }
}