@import 'styles/colors.module.scss';

.params {
	> div {
		> div,
		> label {
			margin: 0px;
		}
	}
}

.selectContainer {
	min-width: 200px;
}

.actions {
	margin: 20px 0;
	text-align: center;
	> * {
		margin: 0 5px;
	}

	.deleteButton {
		color: red;
	}
}

.buildingRefLabel {
	align-self: center;
	font-weight: 500;
	color: $primary-color;
	text-decoration: underline;
}

.buildingRefEmptyLabel {
	align-self: center;
	color: #aaa;
}

.chooseBuildingButton {
	margin-left: 10px;
}
